<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <meta name="google-site-verification" content="prf-4FPt8sCt5OwvSbYA-93sAlensfTc8Z6AYLdwPhc" />
</head>
<body>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>